body {
  /*background-color: aquamarine;*/
  font-family: monospace;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

ul {
  list-style: none;
  margin: 0auto;
  padding: 0px;
  display: block;
  background-color: aquamarine;
}

li {
  display: inline-block;
}

li > a {
  display: block;
  background-color: chocolate;
  padding: 10px;
  color: white;
}

li > a:hover
{
  display: block;
  background-color: blue;
  padding: 10px;
}

/*MODELO: MySql
CONTROLADOR: php
VIEW: HTML, CSS*/
