table {
  font-family: monospace;
  border-collapse: collapse;
  width: 100%;
}
th,td {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even)
{
    background-color: gray;
}
