<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>GYM UNIVA</h1>
    <a href="index.html">Home</a>
    <ol>
      <li>Login</li>
      <ul>
        <li>Login</li>
        <li>Recovery password</li>
        <li>Register</li>
      </ul>
      <li>User: Schedule</li>
      //Armando
      <ul>
        <li>Create</li>
        <li>Read</li>
        <li>Update</li>
        <li>Delete</li>
      </ul>
      <li>Payment</li>
      //Regina
      <ul>
        <li>Create</li>
        <li>Read</li>
      </ul>
      <li>Admin-Slots</li>
      //Pablo
      <ul>
        <li>Create</li>
        <li>Read</li>
        <li>Update</li>
        <li>Delete</li>
      </ul>
      <li>Admin-Instructor</li>
      //RickyRan
      <ul>
        <li>Create</li>
        //Nombre, Telefono, skills, etc.
        <li>Read</li>
        <li>Update</li>
        <li>Delete</li>
      </ul>
    </ol>
  </body>
</html>
